/*---------------- GENERAL STYLES ----------------*/ 

@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Just+Another+Hand&family=Open+Sans&display=swap');

html {
    height: 100%;
}

* {
	box-sizing: border-box;
	text-align: left;
}

body {
	font-family: 'Open Sans', sans-serif;
	color: #fff;
    height: 95%;
    background-repeat:no-repeat;
    background-image: linear-gradient(#2e385e, #242e54);
    background-attachment:fixed;
	display: flex;
	flex-direction: column;
	padding: 3em;
}

h1 {
	font-family: 'Just Another Hand', cursive;
	font-size: 80px;
	font-weight: normal;
	line-height: 5px;
	text-shadow: 2px 3px 10px rgba(0,0,0,0.5);
}

h2 {
	font-size: 30px;
	font-weight: normal;
	text-shadow: 2px 3px 10px rgba(0,0,0,0.5);
}

h3 {
	font-family: 'Just Another Hand', cursive;
	font-size: 30px;
	font-weight: normal;
	line-height: 5px;
	text-shadow: 2px 3px 10px rgba(0,0,0,0.5);
}

p {
	font-size: 18px;
}

a {
	color: #fff;
}

button {
	-webkit-appearance: none;
	-moz-appearance: none;
	text-decoration: none;
	text-align: center;
	display: inline-block;
}

input[type=text] {
	background: none;
	padding: 10px 5px 10px 5px;
	border: none;
	border-bottom: 2px solid #fff;
	font-size: 20px;
	outline:none;
}

input[type=text]:focus {
	color: #fff;
	background: none;
	padding: 10px 5px 10px 5px;
	border: none;
	border-bottom: 2px solid #fff;
	font-size: 20px;
	outline:none;
}

input[type=submit] {
	color: #fff;
	background-color: #242e54;
	padding: 10px 30px;
	border: 2px solid #fff;
	border-radius: 20px;
	transition-duration: .4s;
	font-size: 20px;
	outline:none
	-webkit-transition-duration: .4s;
	-moz-transition-duration: .4s;
}

input[type=submit]:hover {
	color: #242e54;
	background-color: #fff;
}

/*---------------- STRUCTURE ----------------*/ 

#header {
	padding: 40px;
	float:left;
	margin: auto;
}

#content {
	display: flex;
	flex-direction: row;
	position: relative;
	width: 1100px;
	height: 800px;
}

.content-box-left {
	margin-left: 0px;
	margin-right: 50px;
	width: 350px;
}

.content-box-description {
	padding-top: 40px;
}

.overlay {
	position: absolute;
	top: 0;
	right: 0;
}

.hidden {
	visibility: hidden;
}

/*---------------- LOADER ----------------*/ 

.loader {
	position: absolute;
	top: 300px;
	right: 300px;
	border: 16px solid #eaebee;
	border-radius: 50%;
	border-top: 16px solid #6c738e;
	width: 80px;
	height: 80px;
	-webkit-animation: spin 2s linear infinite; /* Safari */
	animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
	0% { -webkit-transform: rotate(0deg); }
	100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}

/*---------------- VISUALIZATION ----------------*/ 

#petal-chart {
	margin-top: 40px;
}

.vase {
	stroke: #ffffff;
	stroke-width: 3px;
	stroke-linecap: round;
	fill-opacity: 30%;
}

.stem {
	stroke: #ffffff;
	stroke-width: 2px;
	fill: none;
}

.petal-background {
	stroke-width: 5px;
	fill: #5c667e;
}

.petals-outer {
	stroke: #4f4f4f;
	stroke-width: 3px;
	fill: none;
	opacity: 60%;
}

.petals-inner {
	stroke: #ffffff;
	stroke-width: 2px;
	fill: none;
}