{% extends "layout.html" %}

{% block title %}
		Spotify Flowers
{% endblock %}

{% block header %}
	{{ super() }}
{% endblock %}

{% block content %}
	<div class="content-box">
		<form action="/grow">
			<p>Type in Name of Track<br></p>
			<input type="text" name="track">
			<input type="submit" value="Draw" onclick="loading()">
		</form>
		<div class="content-box-description">
			<h3>{{ track }}</h3>
			<p>{{ artist }}</p>
		</div>
	</div>
	<div class="content-box">
		<div class="loader hidden"></div>
		<div id="petal-chart" class="overlay"></div>
	</div>
{% endblock %}

{% block footer %}
	{{ super() }}
	<script src="https://d3js.org/d3.v4.js"></script>
	<script>var data = {{ dataset|tojson }};</script>
	<script type="module" src="{{ url_for('static', filename='js/main.js') }}"></script>
{% endblock %}