{% extends "layout.html" %}

{% block title %}
		Spotify Flowers
{% endblock %}

{% block header %}
	{{ super() }}
{% endblock %}

{% block content %}
	<div class="content-box-left">
		<h1>Music Visualization</h1>
		<h1>with Spotify</h1>
		<form action="/grow">
			<input type="text" name="track" placeholder="Type track name here" autocomplete="off">
			<input type="submit" value="Draw" onclick="loading()">
		</form>
		<div class="content-box-description">
			<h3>{{ track }}</h3>
			<h3>{{ artist }}</h3>
			<p>{{ description_sections }}</p>
			<p>{{ description_bars }}</p>
			<div id="legend"></div>
		</div>
	</div>
	<div class="content-box-right">
		<div class="loader hidden"></div>
		<div id="petal-chart" class="overlay"></div>
	</div>
{% endblock %}

{% block footer %}
	{{ super() }}
	<script src="https://d3js.org/d3.v4.js"></script>
	<script>var data = {{ dataset|tojson }};</script>
	<script type="module" src="{{ url_for('static', filename='js/main.js') }}"></script>
{% endblock %}